export interface SampleModel {
  id: number;
  code: string;
  name?: string | null;
  active: boolean;
  customFields?: Record<string, any> | null;
  createdAt: string;
  updatedAt: string;
}

export interface SampleUpsertModel {
  dto: SampleModel;
  collections?: (string | undefined)[];
}
