# scripts/create_module/templates/config.yaml.tmpl
server:
  host: "127.0.0.1"
  port: 8078
  route: "/api/department"

storage:
  photo_path: "${PHOTO_STORAGE_PATH}"

delivery_qr:
  session_ttl_minutes: 5
  client_base_url: "http://127.0.0.1:5173"
  proof_image_max_size_mb: 5

external: true

features:
  enabled: []

database:
  provider: "postgres"
  automigrate: true
  postgres:
    host: "127.0.0.1"
    port: 5432
    user: "samson_with_hair"
    password: "samson_with_hair"
    name: "noahdb"
    sslmode: "disable"
