// scripts/create_module/templates/ent_generate.go.tmpl
// cli: go run modules/{{.module}}/ent/generate.go
package main

import (
	"log"

	"entgo.io/ent/entc"
	"entgo.io/ent/entc/gen"
	"github.com/khiemnd777/noah_api/shared/utils"
)

func main() {
	err := entc.Generate(utils.GetModulePath("{{.module}}", "ent", "schema"), &gen.Config{
		Target:  utils.GetModulePath("{{.module}}", "ent", "generated"),
		Package: "github.com/khiemnd777/noah_api/modules/{{.module}}/ent/generated",
	},
  )
	if err != nil {
		log.Fatalf("Ent code generation failed: %v", err)
	}
}