package main

import (
	"database/sql"

  entdialect "entgo.io/ent/dialect"
	entsql "entgo.io/ent/dialect/sql"
	"github.com/khiemnd777/noah_api/shared/db/ent"
	"github.com/gofiber/fiber/v2"
	"github.com/khiemnd777/noah_api/modules/{{.module}}/config"
	{{if .WithEnt}}
	"github.com/khiemnd777/noah_api/modules/{{.module}}/ent/generated"
	"github.com/khiemnd777/noah_api/modules/{{.module}}/ent/bootstrap"
	{{else}}
	"github.com/khiemnd777/noah_api/shared/db/ent/generated"
	{{end}}
	"github.com/khiemnd777/noah_api/modules/{{.module}}/txmanager"

	"github.com/khiemnd777/noah_api/modules/{{.module}}/handler"
	"github.com/khiemnd777/noah_api/modules/{{.module}}/repository"
	"github.com/khiemnd777/noah_api/modules/{{.module}}/service"
	"github.com/khiemnd777/noah_api/shared/module"
	"github.com/khiemnd777/noah_api/shared/utils"
)

func main() {
	module.StartModule(module.ModuleOptions[config.ModuleConfig]{
		ConfigPath: utils.GetModuleConfigPath("{{.module}}"),
		ModuleName: "{{.module}}",
		InitEntClient: func(provider string, db *sql.DB, cfg *config.ModuleConfig) (any, error) {
			{{if .WithEnt}}
			return bootstrap.EntBootstrap(provider, db, func(drv *entsql.Driver) any {
				return generated.NewClient(generated.Driver(drv))
			}, cfg.Database.AutoMigrate)
			{{else}}
			return ent.EntBootstrap(provider, db, func(drv *entsql.Driver) any {
				return generated.NewClient(generated.Driver(drv))
			}, cfg.Database.AutoMigrate)
			{{end}}
		},
		OnRegistry: func(app *fiber.App, deps *module.ModuleDeps[config.ModuleConfig]) {
			repo := repository.New{{.Module}}Repository(deps.Ent.(*generated.Client), deps)
			svc := service.New{{.Module}}Service(txmanager.NewEntTxManager(deps.Ent.(*generated.Client)), repo, deps)
			h := handler.New{{.Module}}Handler(svc, deps)
			h.RegisterRoutes(app.Group(utils.GetModuleRoute(deps.Config.Server.Route)))
		},
	})
}
