import { registerTable } from "@core/table/table-registry";
import { createTableSchema, type ColumnDef, type FetchTableOpts } from "@core/table/table.types";
import { reloadTable } from "@core/table/table-reload";
import { openFormDialog } from "@core/form/form-dialog.service";
import type { SampleModel } from "@features/sample/model/sample.model";
import { table, unlink } from "@features/sample/api/sample.api";

const columns: ColumnDef<SampleModel>[] = [
  { key: "code", header: "Mã {label}", sortable: true, },
  { key: "name", header: "Tên {label}", sortable: true, labelField: true },
  {
    key: "",
    type: "metadata",
    metadata: {
      collection: "sample",
      mode: "whole",
    }
  },
];

registerTable("samples", () => {
  return createTableSchema<SampleModel>({
    columns,
    fetch: async (opts: FetchTableOpts) => await table(opts),
    initialPageSize: 10,
    initialSort: { by: "id", dir: "asc" },
    allowUpdating: ["sample.update"],
    allowDeleting: ["sample.delete"],
    onEdit(row: SampleModel) {
      openFormDialog("sample", { initial: { id: row.id } });
    },
    async onDelete(row) {
      await unlink(row.id);
      reloadTable("samples");
    },
  });
});
