import { mapper } from "@root/core/mapper/auto-mapper";
import type { SampleModel } from "@features/sample/model/sample.model";

mapper.register<SampleModel>({
  name: "Sample",
  dtoToModelNaming: "snake_to_camel",
  modelToDtoNaming: "camel_to_snake",
  defaultModel: () => ({
    id: 0,
    code: "",
    name: "",
    active: true,
    customFields: null,
    createdAt: "",
    updatedAt: "",
  }),
});
