import { Button } from "@mui/material";
import { SectionCard } from "@root/shared/components/ui/section-card";
import AddIcon from '@mui/icons-material/Add';
import { openFormDialog } from "@core/form/form-dialog.service";
import { AutoTable } from "@core/table/auto-table";
import { registerSlot } from "@root/core/module/registry";
import { IfPermission } from "@root/core/auth/if-permission";

function SampleWidget() {
  return (
    <>
      <SectionCard extra={
        <>
          <IfPermission permissions={["sample.create"]}>
            <Button variant="outlined" startIcon={<AddIcon />} onClick={() => {
              openFormDialog("sample");
            }} >Thêm {Label}</Button>
          </IfPermission>
        </>
      }>
        <AutoTable name="samples" />
      </SectionCard>
    </>
  );
}

registerSlot({
  id: "sample",
  name: "sample:left",
  render: () => <SampleWidget />,
})
